<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js">
    <head>
        <title>
            {%- if title -%}
                {{ title }} – {{ site.title }}
            {%- else -%}
                {{ site.title }} – {{ site.description }}
            {%- endif -%}
        </title>
        <meta name="description" content="{% block description %}{{ site.description }}{% endblock %}">
        <meta name="robots" content="index,follow">
        <meta name="generator" content="Eleventy">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% if site.icon %}
            <link rel="shortcut icon" type="image/png" href="{{ site.icon }}"/>
        {% endif %}

        {%- block seo -%}
            <!--Twitter Card-->
            <meta name="twitter:site" content="{{ site.twitter }}">
            <meta name="twitter:creator" content="{{ site.twitter }}">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:url" content="{{ site.url + page.url }}">
            <meta name="twitter:title" content="{{ title + " – " + site.title if title else title }}">
            <meta name="twitter:description" content="{{ site.description }}">
            <meta name="twitter:image" content="{{ site.cover_image }}">

            <!--Schema-->
            <link rel="author" href="{{ site.url }}">
            <link rel="publisher" href="{{ site.url }}">
            <meta itemprop="name" content="{{ title + " – " + site.title if title else title }}">
            <meta itemprop="description" content="{{ site.description }}">
            <meta itemprop="image" content="{{ site.cover_image }}">

            <!-- Facebook OpenGraph -->
            <meta property="og:url" content="{{site.url + page.url}}">
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{ title + " – " + site.title if title else title }}">
            <meta property="og:image" content="{{ site.cover_image }}">
            <meta property="og:description" content="{{ site.description }}">
            <meta property="og:site_name" content="{{ site.title }}">
            <meta property="og:locale" content="{{ site.lang }}">
            <meta property="article:author" content="{{ site.url }}">
        {%- endblock -%}

        {% set css %}
            {% include "src/assets/css/main.css" %}
            {% include "src/assets/css/fontawesome-all.min.css" %}
            {% include "src/assets/css/noscript.css" %}
            {% include "src/assets/css/posts.css" %}
        {% endset %}
        <style>{{ css | cssmin | safe }}</style>

        <script>document.documentElement.classList.remove('no-js');</script>

        {{ site.codeinjection_head | safe if site.codeinjection_head }}
        {{ codeinjection_head | safe if codeinjection_head }}
    </head>
    <body>
        <div id="wrapper">

            <div class="viewport">

                <div class="viewport-top">
                    {% include "partials/header.njk" %}

                    <div id="main">

                    {% set title = "Aubrey Barnes Dev Portfolio" %}


                        <section id="intro" class="main">
                            <div class="spotlight">
                                <div class="content">
                                    <header class="major">
                                        <h2>something about me</h2>
                                    </header>
                                    <p>Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                                    adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                                    Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.</p>
                                    
                                </div>
                                <span class="image headshot-img"><img src="assets/images/ex-headshot.jpg" alt="" /></span>
                            </div>
                        </section>

                        <section id="first" class="main special">
                            <header class="major">
                                <h2>skills?</h2>
                                <p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
                                posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
                            </header>
                            <ul class="statistics">
                                <li class="style1">
                                    <span class="icon brands fab fa-html5"></span>
                                    <strong>5,120</strong> Etiam
                                </li>
                                <li class="style2">
                                    <span class="icon brands fab fa-css3-alt"></span>
                                    <strong>8,192</strong> Magna
                                </li>
                                <li class="style3">
                                    <span class="icon brands fab fa-js-square"></span>
                                    <strong>2,048</strong> Tempus
                                </li>
                                <li class="style4">
                                    <span class="icon brands fab fa-react"></span>
                                    <strong>4,096</strong> Aliquam
                                </li>
                                <li class="style5">
                                    <span class="icon fa-gem"></span>
                                    <strong>1,024</strong> Nullam
                                </li>
                            </ul>
                            <p class="content">Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.</p>
                            <footer class="major">
                                <ul class="actions special">
                                    <li><a href="generic.html" class="button">Learn More</a></li>
                                </ul>
                            </footer>
                        </section>

                        <section id="second" class="main special">
                            <header class="major">
                                <h2>blog</h2>
                            </header>

                            {# entry point for blog posts #}
                            
                            {% block content %}
                            {% endblock %}

                            <footer class="major">
                                <ul class="actions special">
                                    <li><a href="generic.html" class="button">Learn More</a></li>
                                </ul>
                            </footer>
                        </section>

                        <section id="cta" class="main special">
                            <header class="major">
                                <h2>contact?</h2>
                                <p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
                                posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
                            </header>
                            <footer class="major">
                                <ul class="actions special">
                                    <li><a href="generic.html" class="button primary">Get Started</a></li>
                                    <li><a href="generic.html" class="button">Learn More</a></li>
                                </ul>
                            </footer>
                        </section>


                    


                    </main>
                </div>

                <div class="viewport-bottom">
                    {% include "partials/footer.njk" %}
                </div>

                {{ site.codeinjection_foot | safe if site.codeinjection_foot }}
                {{ codeinjection_foot | safe if codeinjection_foot }}
            </div>
        </div> 
        
        <script src="{{ 'assets/js/jquery.min.js' | url }}" defer></script>
        <script src="{{ 'assets/js/jquery.scrollex.min.js' | url }}" defer></script>
        <script src="{{ 'assets/js/jquery.scrolly.min.js' | url }}" defer></script>
        <script src="{{ 'assets/js/breakpoints.min.js' | url }}" defer></script>
        <script src="{{ 'assets/js/browser.min.js' | url }}" defer></script>
        <script src="{{ 'assets/js/main.js' | url }}" defer></script>
        <script src="{{ 'assets/js/util.js' | url }}" defer></script>
        
    </body>
</html>
