
<header id="header" class="alt">

    <h1>Hi, I'm Aubrey Barnes</h1>
    <p>I am a Front End Web Developer looking to help make the world (wide web) a more beautiful place.</p>
</header>

<nav id="nav">
    <ul>
        <li><a href="#intro" class="active">Introduction</a></li>
        <li><a href="#first">First Section</a></li>
        <li><a href="#second">Second Section</a></li>
        <li><a href="#cta">Get Started</a></li>
    </ul>
</nav>