
<header id="header" class="alt">

    <h1>Hi, I'm Aubrey Barnes</h1>
    <p>I am a Front End Web Developer looking to help make the world (wide web) a more beautiful place.</p>
</header>

<nav id="nav">
    <ul>
        <li><a href="#intro" class="active">About Me</a></li>
        <li><a href="#projects" class="active">Projects</a></li>
        <li><a href="#first">Skills</a></li>
        <li><a href="#second">Blog</a></li>
        <li><a href="#cta">Contact</a></li>
    </ul>
</nav>